.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  opacity: 0.9;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 22px;
  line-height: 2;
}

body {
  padding-top: 100px;
  background-image: background-image:url('https://i.ibb.co/Wcg5KJq/Ethereum.png') no-repeat center center;color:rgba(1, 100, 100, 0.4);
  background-image: url('https://i.ibb.co/Wcg5KJq/Ethereum.png');
  color: rgba(1, 100, 100, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
   content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

